<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/afdf4923-a3ee-488c-80a9-38c77dd52377/resourceGroups/Tezo-Interns/providers/Microsoft.Web/sites/webapp-alekhya</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://webapp-alekhya.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>04436627-a926-4a94-9e67-a712c99e739b</ProjectGuid>
    <PublishUrl>https://webapp-alekhya.scm.azurewebsites.net/</PublishUrl>
    <UserName>$webapp-alekhya</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>